In [3]:
import pandas as pd
import numpy as np

In [4]:
# 1. Write a Pandas program to read the given csv file.
try:
    df = pd.read_csv('AfricaCupofNationsMatches.csv')
    print("1. DataFrame read successfully:")
    print(df.head())
    print("-" * 30)
except FileNotFoundError:
    print("Error: 'AfricaCupOfNations.csv' not found. Please ensure the file is in the correct directory.")
    exit()

1. DataFrame read successfully:
   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0
3      Cairo     30000.0
4      Cairo     20000.0
------------------------------

In [ ]:
# 2. Write a Pandas program to get the first 7 rows of your data frame.
print("First 7 rows of the DataFrame:")
print(df.head(7))
print("-" * 30)

In [ ]:
# 3. Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame.
selected_columns = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
print("3. Selected columns ('HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals'):")
print(selected_columns.head())
print("-" * 30)

In [ ]:
# 4. Write a Pandas program to select the rows where Egypt appears.
egypt_rows = df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]
print("4. Rows where Egypt appears:")
print(egypt_rows)
print("-" * 30)

In [ ]:
# 5. Write a Pandas program to count the number of rows and columns of your data frame.
num_rows, num_columns = df.shape
print(f"5. Number of rows: {num_rows}")
print(f"   Number of columns: {num_columns}")
print("-" * 30)

In [ ]:
# 6. Write a Pandas program to select the rows where the ‘Attendance’ is missing.
missing_attendance_rows = df[df['Attendance'].isna()]
print("Rows where 'Attendance' is missing:")
print(missing_attendance_rows)
print("-" * 30)

In [7]:
# 7. Pandas program select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
goals_between_3_and_6 = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]
print(goals_between_3_and_6)
print("-" * 30)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]
------------------------------

In [9]:
# 8. Pandas program that change the “AwayTeamGoals” in the 3rd row to 10.

df.loc[2, 'AwayTeamGoals'] = 10
print("8. DataFrame after changing 'AwayTeamGoals' in the 3rd row to 10:")
print(df.head())
print("-" * 30)

8. DataFrame after changing 'AwayTeamGoals' in the 3rd row to 10:
   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0
3      Cairo     30000.0
4      Cairo     20000.0
------------------------------

In [ ]:
# 9. Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamGoals’ in descending order.

sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
print("9. DataFrame sorted by 'HomeTeam' (ascending) and then by 'HomeTeamGoals' (descending):")
print(sorted_df.head())
print("-" * 30)

9. DataFrame sorted by 'HomeTeam' (ascending) and then by 'HomeTeamGoals' (descending):
     Year      Date  Time   HomeTeam  AwayTeam  HomeTeamGoals  AwayTeamGoals  \
205  1990   2-Mar-90   NaN  Algeria    Nigeria            5.0            1.0
29   1968  14-Jan-68   NaN  Algeria     Uganda            4.0            0.0
135  1980  16-Mar-80   NaN  Algeria     Guinea            3.0            2.0
164  1984   5-Mar-84   NaN  Algeria     Malawi            3.0            0.0
171  1984  17-Mar-84   NaN  Algeria      Egypt            3.0            1.0

                 Stage SpecialWinConditions                       Stadium  \
205            Group A                  NaN          Stade 5 Juillet 1962
29             Group A                  NaN        Hailé Sélassié Stadium
135            Group B                  NaN               Liberty Stadium
164            Group B                  NaN                  Stade Bouaké
171  Third place match                  NaN  Stade Félix Houphouët-Boigny

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0
------------------------------

In [ ]:
# 10. Write a Pandas program to get list from DataFrame column headers.
column_headers = df.columns.tolist()
print("10. List of DataFrame column headers:")
print(column_headers)
print("-" * 30)

In [ ]:
# 11. Write a Pandas program to append a column of your choice to your DataFrame.
df['MatchOutcome'] = np.where(df['HomeTeamGoals'] > df['AwayTeamGoals'], 'HomeWin',
                             np.where(df['HomeTeamGoals'] < df['AwayTeamGoals'], 'AwayWin', 'Draw'))
print("11. DataFrame after appending 'MatchOutcome' column:")
print(df.head())
print("-" * 30)

In [ ]:
# 12. Write a Pandas program to add 2 rows to your DataFrame.
new_rows_data = {
    'Year': [2024, 2024],
    'Date': ['2024-01-20', '2024-01-21'],
    'HomeTeam': ['Burkina Faso', 'Mali'],
    'AwayTeam': ['Mauritania', 'DR Congo'],
    'HomeTeamGoals': [1, 2],
    'AwayTeamGoals': [0, 1],
    'HomeTeamPenalties': [0, 0],
    'AwayTeamPenalties': [0, 0],
    'Attendance': [20000, 22000],
    'Stadium': ['Stade Olympique Alassane Ouattara', 'Stade Olympique Alassane Ouattara'],
    'City': ['Abidjan', 'Abidjan'],
    'MatchOutcome': ['HomeWin', 'HomeWin'] # Added for consistency with the new column
}
new_rows_df = pd.DataFrame(new_rows_data)
df = pd.concat([df, new_rows_df], ignore_index=True)
print("12. DataFrame after adding 2 new rows:")
print(df.tail()) # Show the last few rows to see the appended data
print("-" * 30)

In [ ]:
# 13. Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')
print("13. DataFrame after changing 'Uganda' to 'China' in 'AwayTeam' column:")
print(df[df['AwayTeam'] == 'China'])
print("-" * 30)

In [ ]:
# 14. Write a Pandas program to reset index in your DataFrame.
df_reset_index = df.reset_index(drop=True)
print("14. DataFrame after resetting index:")
print(df_reset_index.head())
print("-" * 30)

In [ ]:
# 15. Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
is_stadium_present = 'Stadium' in df.columns
print(f"15. Is 'Stadium' column present in the DataFrame? {is_stadium_present}")
print("-" * 30)

In [ ]:
# 16. Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)
print("16. Datatype of 'AwayTeamGoals' after conversion to float:")
print(df['AwayTeamGoals'].dtype)
print(df.head())
print("-" * 30)

In [ ]:
# 17. Write a Pandas program to remove the last 10 rows from your DataFrame.
# Ensure there are at least 10 rows to remove.
if len(df) > 10:
    df_removed_last_10 = df.iloc[:-10]
    print("17. DataFrame after removing the last 10 rows (showing tail of the new DataFrame):")
    print(df_removed_last_10.tail())
    print(f"New number of rows: {len(df_removed_last_10)}")
else:
    print("17. Cannot remove last 10 rows, DataFrame has less than or equal to 10 rows.")
print("-" * 30)

In [ ]:
# 18. Write a Pandas program to iterate over rows in your DataFrame.
print("18. Iterating over rows (first 3 rows for demonstration):")
for index, row in df.head(3).iterrows():
    print(f"Index: {index}, Home Team: {row['HomeTeam']}, Away Team: {row['AwayTeam']}, Goals: {row['HomeTeamGoals']}-{row['AwayTeamGoals']}")
print("-" * 30)

In [ ]:
# 19. Write a Pandas program to change the order of your DataFrame columns.
# Example: Move 'MatchOutcome' to be the second column
current_columns = df.columns.tolist()
new_column_order = ['Year', 'MatchOutcome', 'Date', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals',
                    'HomeTeamPenalties', 'AwayTeamPenalties', 'Attendance', 'Stadium', 'City']
df_reordered_columns = df[new_column_order]
print("19. DataFrame after changing the order of columns (first 5 rows):")
print(df_reordered_columns.head())
print("-" * 30)

In [ ]:
# 20. Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.
df_no_zero_home_goals = df[df['HomeTeamGoals'] != 0]
print("20. DataFrame after deleting rows where 'HomeTeamGoals' is 0:")
print(df_no_zero_home_goals)
print("-" * 30)